 @font-face {
    font-family: "animatedfont";
    src: url("/src/assets/fonts/DIMITRI_.TTF") format("truetype");
}

.game-page {
    background-image: url('../../assets/images/main-background.png');
}