@font-face {
    font-family: "animatedfont";
    src: url("/src/assets/fonts/DIMITRI_.TTF") format("truetype");
}

.game-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/images/main-background.png');
}

.question-container {
    padding: 5px;
    width: 100%;
    max-width: 500px;
    max-height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../../assets/images/textcontainercondom.png');
    transition: 1s;
}

.user-confirm-container {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../../assets/images/textcontainercondom.png');
    transition: 1s;
}

.spermy {
    position: relative;
    height: 100%;
    max-height: 200px;
}

.astigpre_logo {
    margin: 1rem;
    position: relative;
    width: 60%;
    max-width: 200px;
    transition: 2s;
}

.question-container-text {
    color: black;
    padding: .5rem;
    font-family: animatedfont;
    font-size: 3vw;
    text-align: center;
    font-size: .8rem;
}

.input-container input[type="text"], input[type="number"], select {
    padding: .5rem;
    border-radius: 10px;
    font-family: sans-serif;
    color: grey;
    text-align: center;
    width: 100%;
    max-width: 300px;
    font-size: .8rem;
}

.input-container input[type="text"]::placeholder, input[type="number"]::placeholder {
    color: grey; /* Adjust the color and opacity as needed */
    font-family: sans-serif;
    text-align: center;
}

.backBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    border: 0;
    cursor: pointer;
}

.youtube-vid {
    width: 100%;
    height: 80%;
    border-radius: 5px;
}

.error-message {
    color: red;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .question-container { 
        width: 500px;
        height: 300px;
        color: black !important;
    }

    .question-container-user {
        height: 300px;
    }

    .spermy {
        height: 120%;
        max-height: 200px;
    }

    .astigpre_logo {
        width: 60%;
        max-width: 200px;
    }

    .question-container-text { 
        font-size: 1rem;
    }

    .input-container input[type="text"], input[type="number"], select {
        font-size: 1.2rem;
    }

    .youtube-vid {
        width: 450px;
        height: 200px;
        border-radius: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .spermy {
        height: 120%;
        max-height: 250px;
    }

    .input-container input[type="text"], input[type="number"], select {
        font-size: 1.4rem;
    }
}