.questions {
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    overflow-x: scroll;
}

@media screen and (max-width: 767px) { 
    .spermy {
        height: 150px;
        position: absolute;
        right: 0;
        bottom: -20%;
    }
    
    .questions {
        width: 80%;
        height: 80%;
    }
}

@media screen and (min-width: 768px) {
    .questions {
        min-height: 85%;
        max-height: 90%;
        width: 55%;
    }
    .spermy {
        height: 300px;
    }
}